In [1]:
import os

import pandas as pd
import numpy as np

import catchment_attribures as utils

pd.set_option("display.max_rows", None)

## Load the Data

Get file

In [2]:
region = "KZ-VOS"

In [3]:
basins = os.listdir(f"../data/KazHydroMet/meteo/{region}")
for basin in basins:
    if "Boran" in basin:
        filename = basin
        break

Open data

In [4]:
df = pd.read_fwf(f"../data/KazHydroMet/meteo/{region}/" + filename)
df.head()

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
0,Boran,2012-01-01,-13.4,-9.5,-16.5,-16.0,-12.0,-20.0,-19.7,1.67,...,1046.5,6.0,7.0,4.8,10,12,NaN,7,10.0,20.0
1,Boran,2012-01-02,-10.1,-6.8,-14.0,-12.0,-8.0,-18.0,-18.0,1.64,...,1036.1,7.0,7.0,12.5,18,20,NaN,7,10.0,19.0
2,Boran,2012-01-03,-7.2,-4.5,-9.5,-8.0,-5.0,-10.0,-18.4,1.60,...,1028.5,7.0,7.0,13.3,18,20,NaN,7,10.0,22.0
3,Boran,2012-01-04,-9.4,-6.3,-13.3,-11.0,-7.0,-16.0,-20.4,1.47,...,1027.9,4.0,7.0,6.3,8,12,NaN,7,10.0,23.0
4,Boran,2012-01-05,-19.1,-13.0,-24.2,-20.0,-15.0,-25.0,-25.7,1.03,...,1033.3,6.0,7.0,0.0,0,2,NaN,7,10.0,22.0

In [5]:
df.tail()

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
4469,Boran,2024-03-27,6.8,14.1,-1.1,5.0,12.0,-2.0,-4.1,5.97,...,1020.6,5.0,7.0,4.4,8,10,NaN,1,3.0,11.0
4470,Boran,2024-03-28,5.4,14.1,-2.0,4.0,12.0,-2.0,-4.9,5.72,...,1016.6,5.0,4.0,0.9,2,3,NaN,1,2.0,3.0
4471,Boran,2024-03-29,6.1,10.7,3.1,3.0,7.0,-0.0,-1.4,7.11,...,1017.8,6.0,6.0,2.9,8,10,1.1,1,2.0,1.0
4472,Boran,2024-03-30,6.1,10.6,0.9,6.0,15.0,-1.0,-3.4,7.30,...,1016.4,2.0,5.0,3.3,6,8,0.3,2,NaN,NaN
4473,Boran,2024-03-31,5.8,8.4,3.0,4.0,7.0,1.0,-0.9,6.81,...,1026.1,6.0,5.0,5.5,9,13,NaN,2,NaN,NaN

In [6]:
utils.process_basin(df, gauge_id=11001)

,gauge_id,p_mean,frac_snow,high_prec_freq,high_prec_dur,low_prec_freq,low_prec_dur
0,11001,0.528191,0.274644,24.583333,1.23257,313.333333,8.491785

Convert Date to DateTime

In [7]:
df["date"] = pd.to_datetime(df.date)

In [8]:
df.loc[:, "prcp"] = df["prcp"].fillna(0)
df.head()

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
0,Boran,2012-01-01,-13.4,-9.5,-16.5,-16.0,-12.0,-20.0,-19.7,1.67,...,1046.5,6.0,7.0,4.8,10,12,0.0,7,10.0,20.0
1,Boran,2012-01-02,-10.1,-6.8,-14.0,-12.0,-8.0,-18.0,-18.0,1.64,...,1036.1,7.0,7.0,12.5,18,20,0.0,7,10.0,19.0
2,Boran,2012-01-03,-7.2,-4.5,-9.5,-8.0,-5.0,-10.0,-18.4,1.60,...,1028.5,7.0,7.0,13.3,18,20,0.0,7,10.0,22.0
3,Boran,2012-01-04,-9.4,-6.3,-13.3,-11.0,-7.0,-16.0,-20.4,1.47,...,1027.9,4.0,7.0,6.3,8,12,0.0,7,10.0,23.0
4,Boran,2012-01-05,-19.1,-13.0,-24.2,-20.0,-15.0,-25.0,-25.7,1.03,...,1033.3,6.0,7.0,0.0,0,2,0.0,7,10.0,22.0

Remove year 2024

In [9]:
print("Length of DataFrame with all years: \t", len(df))
df = df[df["date"].dt.year.ne(2024)]
print("Length of DataFrame without year 2024: \t", len(df))
df.tail()

Length of DataFrame with all years: 	 4474
Length of DataFrame without year 2024: 	 4383

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
4378,Boran,2023-12-27,-5.0,-3.6,-6.2,-6.0,-4.0,-10.0,-9.9,3.08,...,1027.5,2.0,1.0,4.9,8,12,0.0,6,9.0,6.0
4379,Boran,2023-12-28,-5.4,-3.1,-10.9,-6.0,-2.0,-13.0,-13.5,3.17,...,1030.6,2.0,4.0,4.3,5,8,2.6,7,10.0,9.0
4380,Boran,2023-12-29,-5.2,-1.0,-10.7,-7.0,-2.0,-12.0,-12.2,2.92,...,1024.7,2.0,1.0,7.5,10,13,0.0,7,10.0,10.0
4381,Boran,2023-12-30,-2.6,-0.6,-3.8,-3.0,-1.0,-4.0,-8.4,3.92,...,1031.0,2.0,5.0,2.1,3,4,3.8,7,10.0,11.0
4382,Boran,2023-12-31,-5.8,-3.0,-9.2,-6.0,-4.0,-10.0,-11.5,3.09,...,1033.6,2.0,6.0,4.9,6,9,1.5,7,10.0,10.0

Check if `DataFrame` contains all required columns

In [10]:
utils.is_data_okay(df)

True

## Calculation of Static Attributes

### **Compute mean daily precipitations**

In [11]:
p_mean = df["prcp"].mean()
p_mean

0.5281770476842346

In [12]:
p_mean_df = df.groupby(df.date.dt.year)["prcp"].mean()
p_mean_df

date
2012    0.569126
2013    0.645479
2014    0.489589
2015    0.640274
2016    0.669126
2017    0.440822
2018    0.481918
2019    0.350959
2020    0.284153
2021    0.505753
2022    0.444110
2023    0.816986
Name: prcp, dtype: float64

In [13]:
p_mean_df.mean()

0.5281912318786337

### **Daily Fraction of Snow Precipitations** (mean temperature < 0)

In [14]:
df_snow_frac_daily = df[df["t_mean"] < 0]
df_snow_frac_daily = df_snow_frac_daily[(df_snow_frac_daily["prcp"].notna()) & (df_snow_frac_daily["prcp"] > 0)]
df_snow_frac_daily = df_snow_frac_daily["prcp"].sum() / df["prcp"].sum()
df_snow_frac_daily

0.2746436285097192

### **High Precipitation Frequency Days** (mean across years)

In [15]:
high_prec_freq_df = df[df["prcp"] >= 5 * p_mean]
high_prec_freq_df.head()

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
120,Boran,2012-04-30,12.5,16.9,8.8,13.0,21.0,8.0,1.9,9.6,...,1014.2,2.0,3.0,0.5,2,4,3.3,1,NaN,NaN
168,Boran,2012-06-17,18.4,22.4,15.3,23.0,38.0,15.0,8.9,14.6,...,1003.7,2.0,2.0,2.3,6,8,4.6,1,NaN,NaN
169,Boran,2012-06-18,20.6,28.2,15.7,24.0,40.0,15.0,12.4,17.1,...,1005.7,2.0,2.0,0.3,2,4,4.9,1,NaN,NaN
170,Boran,2012-06-19,20.5,25.4,17.1,21.0,29.0,16.0,13.1,17.3,...,1002.9,2.0,2.0,0.8,2,4,5.7,2,NaN,NaN
171,Boran,2012-06-20,18.9,23.0,16.8,20.0,26.0,15.0,12.3,16.4,...,1001.2,6.0,6.0,1.0,2,4,6.7,2,NaN,NaN

In [16]:
len(high_prec_freq_df)

295

In [17]:
high_prec_freq_df["prcp"].mean()

5.468813559322035

In [18]:
high_prec_freq = high_prec_freq_df.groupby(high_prec_freq_df.date.dt.year).size()
print("Frequency of high precipitation days for each year:\n", high_prec_freq, "\n")
print("Average frequency of high precipitation days over all years: ", high_prec_freq.mean())

Frequency of high precipitation days for each year:
 date
2012    24
2013    28
2014    20
2015    38
2016    31
2017    21
2018    29
2019    17
2020    11
2021    25
2022    16
2023    35
dtype: int64

Average frequency of high precipitation days over all years:  24.583333333333332

### **High Precipitation Duration**

Average duration of high precipitation events (number of consecutive days with >= 5 times mean daily precipitation)

In [19]:
high_prec_freq_df.loc[:, "year"] = pd.DatetimeIndex(high_prec_freq_df.loc[:, "date"].values).year
high_prec_freq_df.head()

/tmp/ipykernel_56388/1000692105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_prec_freq_df.loc[:, "year"] = pd.DatetimeIndex(high_prec_freq_df.loc[:, "date"].values).year

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height,year
120,Boran,2012-04-30,12.5,16.9,8.8,13.0,21.0,8.0,1.9,9.6,...,2.0,3.0,0.5,2,4,3.3,1,NaN,NaN,2012
168,Boran,2012-06-17,18.4,22.4,15.3,23.0,38.0,15.0,8.9,14.6,...,2.0,2.0,2.3,6,8,4.6,1,NaN,NaN,2012
169,Boran,2012-06-18,20.6,28.2,15.7,24.0,40.0,15.0,12.4,17.1,...,2.0,2.0,0.3,2,4,4.9,1,NaN,NaN,2012
170,Boran,2012-06-19,20.5,25.4,17.1,21.0,29.0,16.0,13.1,17.3,...,2.0,2.0,0.8,2,4,5.7,2,NaN,NaN,2012
171,Boran,2012-06-20,18.9,23.0,16.8,20.0,26.0,15.0,12.3,16.4,...,6.0,6.0,1.0,2,4,6.7,2,NaN,NaN,2012

In [20]:
s = high_prec_freq_df.groupby(high_prec_freq_df.date.dt.year).date.diff().dt.days.ne(1).cumsum()
high_prec_freq_df = high_prec_freq_df.groupby([high_prec_freq_df.date.dt.year, s]).size().reset_index(level=1, drop=True)
high_prec_freq_df.values

array([1, 4, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2,
       1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 3, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 2, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 3, 2, 2, 1])

In [21]:
high_prec_freq_df

date
2012    1
2012    4
2012    1
2012    1
2012    2
2012    1
2012    1
2012    3
2012    1
2012    1
2012    1
2012    1
2012    1
2012    2
2012    1
2012    1
2012    1
2013    2
2013    1
2013    1
2013    1
2013    2
2013    1
2013    2
2013    3
2013    1
2013    1
2013    1
2013    1
2013    1
2013    1
2013    1
2013    1
2013    2
2013    1
2013    1
2013    1
2013    1
2013    1
2014    2
2014    1
2014    1
2014    1
2014    1
2014    1
2014    1
2014    1
2014    2
2014    1
2014    1
2014    1
2014    1
2014    1
2014    1
2014    2
2014    1
2015    2
2015    1
2015    3
2015    1
2015    2
2015    1
2015    1
2015    1
2015    1
2015    1
2015    1
2015    1
2015    2
2015    2
2015    1
2015    2
2015    1
2015    1
2015    2
2015    1
2015    3
2015    1
2015    1
2015    3
2015    2
2016    1
2016    1
2016    1
2016    1
2016    1
2016    1
2016    1
2016    1
2016    3
2016    1
2016    1
2016    1
2016    1
2016    1
2016    2
2016    1
2016    1
2016    2
2016    1
2016    1
2016    3
2016    1
2016    1
2016    1
2016    1
2017    1
2017    1
2017    1
2017    1
2017    1
2017    1
2017    2
2017    2
2017    1
2017    2
2017    1
2017    1
2017    3
2017    1
2017    1
2017    1
2018    1
2018    2
2018    1
2018    1
2018    1
2018    2
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    2
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2018    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    1
2019    2
2019    1
2019    1
2019    1
2019    1
2019    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2020    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    1
2021    2
2021    2
2021    1
2021    1
2021    1
2021    3
2021    1
2021    1
2021    1
2022    1
2022    1
2022    1
2022    1
2022    1
2022    2
2022    1
2022    1
2022    1
2022    1
2022    1
2022    2
2022    1
2022    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    3
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    1
2023    3
2023    1
2023    2
2023    1
2023    3
2023    2
2023    2
2023    1
dtype: int64

In [22]:
high_prec_freq_df_mean_year = high_prec_freq_df.groupby(high_prec_freq_df.keys()).mean()
print("Average high precipitation duration for each year:\n", high_prec_freq_df_mean_year, "\n\n")
print(f"Average high precipitation duration overall: {high_prec_freq_df_mean_year.mean()}")

Average high precipitation duration for each year:
 date
2012    1.411765
2013    1.272727
2014    1.176471
2015    1.520000
2016    1.240000
2017    1.312500
2018    1.115385
2019    1.062500
2020    1.000000
2021    1.190476
2022    1.142857
2023    1.346154
dtype: float64


Average high precipitation duration overall: 1.2325695301430595

### **Low Precipitation Frequency** (< 1 mm/day)

In [23]:
low_prec_freq_df = df[df["prcp"] < 1]
low_prec_freq_df.head()

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,atm_sea,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height
0,Boran,2012-01-01,-13.4,-9.5,-16.5,-16.0,-12.0,-20.0,-19.7,1.67,...,1046.5,6.0,7.0,4.8,10,12,0.0,7,10.0,20.0
1,Boran,2012-01-02,-10.1,-6.8,-14.0,-12.0,-8.0,-18.0,-18.0,1.64,...,1036.1,7.0,7.0,12.5,18,20,0.0,7,10.0,19.0
2,Boran,2012-01-03,-7.2,-4.5,-9.5,-8.0,-5.0,-10.0,-18.4,1.60,...,1028.5,7.0,7.0,13.3,18,20,0.0,7,10.0,22.0
3,Boran,2012-01-04,-9.4,-6.3,-13.3,-11.0,-7.0,-16.0,-20.4,1.47,...,1027.9,4.0,7.0,6.3,8,12,0.0,7,10.0,23.0
4,Boran,2012-01-05,-19.1,-13.0,-24.2,-20.0,-15.0,-25.0,-25.7,1.03,...,1033.3,6.0,7.0,0.0,0,2,0.0,7,10.0,22.0

In [24]:
low_prec_freq = low_prec_freq_df.groupby(low_prec_freq_df.date.dt.year).size()
print("Frequency of low precipitation days for each year:\n", low_prec_freq, "\n")
print("Average frequency of low precipitation days over all years: ", low_prec_freq.mean())

Frequency of low precipitation days for each year:
 date
2012    324
2013    303
2014    320
2015    309
2016    303
2017    318
2018    314
2019    317
2020    326
2021    313
2022    315
2023    298
dtype: int64

Average frequency of low precipitation days over all years:  313.3333333333333

### **Low Precipitation Duration**

Average duration of dry days (number of consecutive days with precipitation < 1 mm/day)

In [25]:
low_prec_freq_df["year"] = pd.DatetimeIndex(low_prec_freq_df["date"]).year
low_prec_freq_df.head()

/tmp/ipykernel_56388/3575902681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  low_prec_freq_df["year"] = pd.DatetimeIndex(low_prec_freq_df["date"]).year

,station,date,t_mean,t_max,t_min,st_mean,st_max,st_min,dew_min,pp_mean,...,cl_o,cl_h,wind_mean,wind_max8,wind_max,prcp,soil,snow_cover,snow_height,year
0,Boran,2012-01-01,-13.4,-9.5,-16.5,-16.0,-12.0,-20.0,-19.7,1.67,...,6.0,7.0,4.8,10,12,0.0,7,10.0,20.0,2012
1,Boran,2012-01-02,-10.1,-6.8,-14.0,-12.0,-8.0,-18.0,-18.0,1.64,...,7.0,7.0,12.5,18,20,0.0,7,10.0,19.0,2012
2,Boran,2012-01-03,-7.2,-4.5,-9.5,-8.0,-5.0,-10.0,-18.4,1.60,...,7.0,7.0,13.3,18,20,0.0,7,10.0,22.0,2012
3,Boran,2012-01-04,-9.4,-6.3,-13.3,-11.0,-7.0,-16.0,-20.4,1.47,...,4.0,7.0,6.3,8,12,0.0,7,10.0,23.0,2012
4,Boran,2012-01-05,-19.1,-13.0,-24.2,-20.0,-15.0,-25.0,-25.7,1.03,...,6.0,7.0,0.0,0,2,0.0,7,10.0,22.0,2012

In [26]:
s = low_prec_freq_df.groupby('year').date.diff().dt.days.ne(1).cumsum()
low_prec_freq_df = low_prec_freq_df.groupby(['year', s]).size().reset_index(level=1, drop=True)
low_prec_freq_df

year
2012    15
2012    59
2012     3
2012     5
2012     6
2012    26
2012    25
2012    11
2012     8
2012    13
2012     6
2012     2
2012    12
2012    29
2012    24
2012     7
2012     6
2012    12
2012     1
2012    10
2012     1
2012     5
2012     2
2012     2
2012     4
2012     4
2012     1
2012     1
2012     4
2012    13
2012     7
2013     4
2013     3
2013     3
2013     4
2013     6
2013     1
2013     8
2013     1
2013     1
2013    11
2013     5
2013     1
2013     1
2013    15
2013     2
2013     4
2013    12
2013    34
2013    12
2013     5
2013     8
2013     7
2013     2
2013     4
2013     1
2013    12
2013     3
2013     5
2013     1
2013     1
2013     4
2013     3
2013    12
2013    13
2013     3
2013    18
2013     1
2013     1
2013    21
2013     3
2013    11
2013     9
2013     1
2013     2
2013     7
2013     4
2013    13
2014    16
2014     4
2014     2
2014     2
2014    18
2014    15
2014     4
2014    10
2014    33
2014    31
2014     4
2014    10
2014     9
2014     4
2014     1
2014     8
2014     1
2014     9
2014     4
2014     8
2014    40
2014     8
2014     5
2014     2
2014     3
2014     7
2014     1
2014     2
2014    11
2014    13
2014     1
2014     9
2014     7
2014    18
2015     1
2015     8
2015     8
2015    19
2015     4
2015    33
2015     4
2015    14
2015    12
2015    16
2015     1
2015     4
2015     2
2015     2
2015    10
2015    25
2015     4
2015    33
2015     7
2015    12
2015     7
2015     6
2015     4
2015    16
2015     2
2015    12
2015     9
2015     1
2015     1
2015     9
2015     5
2015     1
2015    11
2015     2
2015     4
2016    38
2016    34
2016     2
2016    10
2016     3
2016     5
2016     3
2016    14
2016     9
2016     5
2016    11
2016     3
2016     1
2016     6
2016     4
2016     1
2016     2
2016     8
2016     1
2016    10
2016     1
2016     1
2016     6
2016     1
2016     3
2016    41
2016    15
2016     1
2016     9
2016     1
2016     1
2016     4
2016     8
2016     5
2016     2
2016     9
2016     8
2016     1
2016     7
2016     5
2016     4
2017     3
2017     8
2017    21
2017     7
2017     6
2017    35
2017     6
2017     8
2017     3
2017     5
2017     8
2017     4
2017     3
2017     4
2017    12
2017     7
2017     2
2017    18
2017    11
2017     2
2017    13
2017     7
2017     9
2017    18
2017     3
2017     6
2017     3
2017     5
2017     2
2017    14
2017     4
2017     3
2017     6
2017     4
2017    41
2017     4
2017     3
2018    11
2018    33
2018    12
2018     3
2018     2
2018     2
2018     5
2018    11
2018    17
2018     1
2018     5
2018     1
2018     3
2018     2
2018     5
2018     1
2018     9
2018     9
2018    22
2018     2
2018    13
2018     4
2018     5
2018    17
2018     3
2018     1
2018     8
2018     1
2018     1
2018     4
2018     7
2018     6
2018    22
2018     2
2018     1
2018    16
2018     1
2018    12
2018    23
2018    11
2019     3
2019     4
2019    17
2019     3
2019     1
2019     2
2019    68
2019     3
2019     3
2019     1
2019     2
2019    12
2019    22
2019     5
2019    26
2019    13
2019     5
2019    15
2019     5
2019     8
2019     2
2019     3
2019     2
2019     4
2019     7
2019     3
2019    16
2019     2
2019     4
2019    10
2019     2
2019     3
2019     4
2019    14
2019     9
2019    14
2020    15
2020     3
2020     3
2020     2
2020    12
2020     7
2020     2
2020     3
2020     8
2020    36
2020    17
2020    34
2020    36
2020     8
2020     2
2020     4
2020    19
2020     8
2020     6
2020    13
2020     5
2020     3
2020     1
2020     5
2020     1
2020     2
2020    13
2020    15
2020    25
2020     9
2020     9
2021    11
2021     6
2021     1
2021     1
2021    13
2021     2
2021     7
2021     9
2021     1
2021     5
2021     1
2021     1
2021    11
2021    22
2021     3
2021     6
2021     9
2021     8
2021    15
2021     5
2021    10
2021     1
2021    14
2021     3
2021    32
2021    42
2021     9
2021    19
2021    10
2021     3
2021     3
2021     2
2021    10
2021     3
2021     5
2021    10
2022     7
2022     1
2022    33
2022    20
2022     2
2022     1
2022     1
2022     2
2022     2
2022     3
2022    25
2022     2
2022     6
2022     4
2022     7
2022    15
2022     2
2022     8
2022    16
2022     4
2022     2
2022     8
2022    19
2022     4
2022    29
2022    14
2022     1
2022    17
2022     5
2022     3
2022    10
2022     6
2022     4
2022     1
2022     8
2022     7
2022     7
2022     9
2023     1
2023     1
2023     1
2023     2
2023     9
2023    14
2023     4
2023     5
2023     9
2023     5
2023     1
2023     2
2023     2
2023     4
2023     1
2023    21
2023     2
2023    26
2023    13
2023     1
2023    12
2023    11
2023    39
2023     2
2023     1
2023     1
2023     2
2023    11
2023     2
2023     3
2023     2
2023     2
2023     8
2023     7
2023     4
2023     5
2023    10
2023     1
2023     1
2023    15
2023    13
2023     7
2023     8
2023     6
2023     1
dtype: int64

In [27]:
low_prec_freq_df_mean_year = low_prec_freq_df.groupby('year').mean()
print("Average low precipitation duration for each year:\n", low_prec_freq_df_mean_year, "\n\n")
print(f"Average low precipitation duration overall: {low_prec_freq_df_mean_year.mean()}")

Average low precipitation duration for each year:
 year
2012    10.451613
2013     6.446809
2014     9.411765
2015     8.828571
2016     7.390244
2017     8.594595
2018     7.850000
2019     8.805556
2020    10.516129
2021     8.694444
2022     8.289474
2023     6.622222
dtype: float64


Average low precipitation duration overall: 8.491785082003526

In [28]:
selected = utils.get_meteo_hydro_id("../data/selected_basins.csv")
selected.head()

   basin  meteo_station
0  11001          Boran
1  11001        Terekty
2  11068       Markakol
3  11126  Katon-Karagay
4  11129  Katon-Karagay

In [34]:
next(iter(selected.groupby('basin')))[1]

   basin meteo_station
0  11001         Boran
1  11001       Terekty

In [40]:
len(selected.groupby('basin'))

43

In [39]:
next(iter(selected.groupby('basin')))

(11001,
    basin meteo_station
 0  11001         Boran
 1  11001       Terekty)