In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("./meteo_hydro_stations.xlsx")
df.head()

,OBJECTID,Join_Count,TARGET_FID,JOIN_FID,id,name,result,area_calc,layer,path,Station,lon,lat,Station_ru,Type,Shape_Leng,Shape_Area
0,1,1,0,212,11001,?.?????,Low Res,58700.0,11001,C:/Users/Нурлан/Downloads/shapefiles/output/11...,BORAN,85.222289,48.005086,Боран,MS,20.603195,7.063714
1,2,1,0,218,11001,?.?????,Low Res,58700.0,11001,C:/Users/Нурлан/Downloads/shapefiles/output/11...,TEREKTY,85.742650,48.415908,Теректи,MS,20.603195,7.063714
2,3,0,1,-1,11063,??????? ?. ??????? (??????????),High Res,98.3,11063,C:/Users/Нурлан/Downloads/shapefiles/output/11...,NaN,0.000000,0.000000,NaN,NaN,0.851667,0.011956
3,4,1,2,216,11068,?.??????,High Res,2960.0,11068,C:/Users/Нурлан/Downloads/shapefiles/output/11...,MARKAKOL,86.025319,48.791094,Маркакол,MS,6.121667,0.360972
4,5,1,3,63,11077,?.????????,High Res,2530.0,11077,C:/Users/Нурлан/Downloads/shapefiles/output/11...,TASBASTAU,84.555662,47.220776,Тасбастау,AMS,5.068333,0.299511

In [3]:
len(df)

148

In [4]:
df = df[df["Station"].notnull()]
df.head()

,OBJECTID,Join_Count,TARGET_FID,JOIN_FID,id,name,result,area_calc,layer,path,Station,lon,lat,Station_ru,Type,Shape_Leng,Shape_Area
0,1,1,0,212,11001,?.?????,Low Res,58700.0,11001,C:/Users/Нурлан/Downloads/shapefiles/output/11...,BORAN,85.222289,48.005086,Боран,MS,20.603195,7.063714
1,2,1,0,218,11001,?.?????,Low Res,58700.0,11001,C:/Users/Нурлан/Downloads/shapefiles/output/11...,TEREKTY,85.742650,48.415908,Теректи,MS,20.603195,7.063714
3,4,1,2,216,11068,?.??????,High Res,2960.0,11068,C:/Users/Нурлан/Downloads/shapefiles/output/11...,MARKAKOL,86.025319,48.791094,Маркакол,MS,6.121667,0.360972
4,5,1,3,63,11077,?.????????,High Res,2530.0,11077,C:/Users/Нурлан/Downloads/shapefiles/output/11...,TASBASTAU,84.555662,47.220776,Тасбастау,AMS,5.068333,0.299511
10,11,1,9,203,11126,?. ???? (?.??????),High Res,6870.0,11126,C:/Users/Нурлан/Downloads/shapefiles/output/11...,KATON-KARAGAY,85.619394,49.176397,Катон-Карагай,MS,8.888333,0.849920

In [5]:
len(df)

92

In [6]:
df = df[["id", "result", "area_calc", "Station", "lon", "lat", "Station_ru", "Type"]]
df.rename(columns={"Station": "meteo_station", "lon": "lng", "Station_ru": "meteo_station_ru", "Type": "type"}, inplace=True)
df.head()

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type
0,11001,Low Res,58700.0,BORAN,85.222289,48.005086,Боран,MS
1,11001,Low Res,58700.0,TEREKTY,85.742650,48.415908,Теректи,MS
3,11068,High Res,2960.0,MARKAKOL,86.025319,48.791094,Маркакол,MS
4,11077,High Res,2530.0,TASBASTAU,84.555662,47.220776,Тасбастау,AMS
10,11126,High Res,6870.0,KATON-KARAGAY,85.619394,49.176397,Катон-Карагай,MS

In [7]:
import os


all_stations = [s.split("_")[1] for s in os.listdir("../data/KazHydroMet/basin_forcing")]
all_stations

['Novoalexeevka',
 'Zhaltyr',
 'Sergeevka',
 'Ruzaevka',
 'Rudnyi',
 'Tasty-Taldy',
 'Martuk',
 'Blagoveshchenka',
 'Astana',
 'Ayagoz',
 'Zhanakala',
 'Turkestan',
 'Yavlenka',
 'Taldykorgan',
 'Barshatas',
 'Karamendy',
 'Kyzylzhar',
 'Kertindy',
 'Terekty',
 'Zhosaly',
 'Kyzylorda',
 'Karauylkeldy',
 'Shardara',
 'Kuigan',
 'Tekeli',
 'Taipak',
 'Kurshim',
 'Aksengir',
 'Merke',
 'Mugodzarskaja',
 'Zhalanash',
 'Esik',
 'Atbasar',
 'Usharal',
 'Emba',
 'Auyl-4',
 'Shar',
 'Shemonaikha',
 'Urzhar',
 'Dmitrievka',
 'Arshalynski',
 'Karatobe',
 'Shuyldak',
 'Karazhal',
 'Dievskaya',
 'Zhana-Ushtogan',
 'Saudakent',
 'Kulaly',
 'Boran',
 'Aktogai',
 'Korday',
 'Karashoky',
 'Almaty',
 'Dzhambejty',
 'Aksai',
 'Karak',
 'Akadyr',
 'Tobol',
 'Mikhailovka',
 'Lepsy',
 'Shalkar',
 'Atyrau',
 'Karabau',
 'Akzhar',
 'Sarkand',
 'Kyzan',
 'Mynzhylky',
 'Ilinski',
 'Shaldai',
 'Pavlodar',
 'Zhetykara',
 'Zyryanovsk',
 'Kazaly',
 'Nura',
 'Krasnoarmeika',
 'Shymkent',
 'Inderborskiy',
 'Alakol',
 'Uzynagash',
 'Kokshetay',
 'Ayakkum',
 'Aidarly',
 'Kazygurt',
 'Karaganda',
 'Shyngyrlau',
 'Kulandy',
 'Kainar',
 'Rodnikovka',
 'Kostanay',
 'Aktogay',
 'Ushtobe',
 'Taraz',
 'Amangeldy',
 'Zhalanashkol',
 'Urda',
 'Kogaly',
 'Samarka',
 'Zhana-Arka',
 'Leninogorsk',
 'Shymbulak',
 'Uspenka',
 'Bayanauyl',
 'Aktau',
 'Ashchysai',
 "Akkol'",
 'Vozvyshenka',
 'Taiynsha',
 'Golubovka',
 'Markakol',
 'Kushmuryn',
 'Ulytau',
 'Ereimentau',
 'Lozovaya',
 'Petropavlovsk',
 'Saryshagan',
 'Peshnoi',
 'Khantau',
 'Karabalyk',
 'Narynkol',
 'Katon-Karagay',
 'Tugyl',
 'Timiryazevo',
 'Zhanatas',
 'Aktogay',
 'Semipalatinsk',
 'Bektauata',
 'Korgalzhyn',
 'Kaukey',
 'Saryozek',
 'Kos-Istek',
 'Ulken',
 'Ertis',
 'Balhash',
 'Yanvartsevo',
 'Arshaly',
 'Semijarka',
 'Aksu-Ayuly',
 'Kulan',
 'Zhetysay',
 'Tole',
 'Ekidin',
 'Karauyl',
 'Presnogorkovka',
 'Kamenka',
 'Egindikol',
 'Sharbakty',
 'Zhaksy',
 'Kulsary',
 'Matay',
 'Uyuk',
 'Zhetykonur',
 'Sucinsk',
 'Torgai',
 'Aul',
 'Aktobe',
 'Ganushkino',
 'Sayak',
 'Zlikha',
 'Arkalyk',
 'Rodnikovskoe',
 'Fedorovka',
 'Sam',
 'Chapaevo',
 'Ulken',
 'Zaisan',
 'Zhezkazgan',
 'Kegen',
 'Koktobe',
 'Burabai',
 'Sarykol',
 'Tasty',
 'Shokpar',
 'Kyrgyzsay',
 'Aral',
 'Zharyk',
 'Uil',
 'Barshino',
 'Scfm-Borovoe',
 'Makhambet',
 'Sagyz',
 'Shelek',
 'Beineu',
 'Kishkenekol',
 'Tushchybek',
 'Osakarovka',
 'Fort',
 'Zharkent',
 'Besoba',
 'Kyzylkum',
 'Shalabay',
 'Aksuat',
 'Zhanybek',
 'Zheleznodorozhnyi',
 'Moiynkum',
 'Kievka',
 'Kozhahmetov',
 'Shyganak',
 'Kyzyltau',
 'Kokpekty',
 'Sholakkorgan',
 "Esil'",
 'Karasu',
 'Komsomolskoe',
 'Karabutak',
 'Karatau',
 'Ekibastuz',
 'Bakty',
 'Kapshagai',
 'Shieli',
 'Seleznevka',
 'Karkaraly',
 'Mikhailovka',
 'Zhalpaktal',
 'Zholboldy',
 'Balkasino',
 'Assy',
 'Zhalgyztobe',
 'Uralsk',
 'Bakanas',
 'Saumalkol',
 'Arys',
 'Almaty',
 'Korneevka',
 'Oskemen',
 'Tasaryk',
 'Temir',
 'Chkalovo',
 'Irgyz']

In [8]:
df["meteo_station"] = df["meteo_station"].apply(lambda row: row.title())
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS
4,11077,High Res,2530.0,Tasbastau,84.555662,47.220776,Тасбастау,AMS
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS
...,...,...,...,...,...,...,...,...
142,19462,High Res,14200.0,Krasnoyarskaya,55.013600,50.693030,Красноярская,AMS
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS

In [9]:
df["meteo_exists"] = df["meteo_station"].isin(all_stations)
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,meteo_exists
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,True
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,True
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,True
4,11077,High Res,2530.0,Tasbastau,84.555662,47.220776,Тасбастау,AMS,False
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
...,...,...,...,...,...,...,...,...,...
142,19462,High Res,14200.0,Krasnoyarskaya,55.013600,50.693030,Красноярская,AMS,False
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS,True
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS,True
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS,True
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS,True

In [10]:
df = df[df["meteo_exists"] == True]
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,meteo_exists
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,True
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,True
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,True
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
...,...,...,...,...,...,...,...,...,...
141,19302,High Res,2150.0,Temir,57.125172,49.142590,Темир,MS,True
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS,True
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS,True
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS,True
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS,True

In [11]:
len(df.id.unique())

43

In [12]:
# df = df.groupby("id").agg({
#     "result": "first",
#     "area_calc": "first",
#     "meteo_station": ",".join,
#     "lng": "first",
#     "lat": "first",
#     "meteo_station_ru": ",".join,
#     "type": "first",
# }).reset_index()

In [13]:
df.head()

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,meteo_exists
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,True
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,True
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,True
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True

In [14]:
len(df)

72

In [15]:
df = df[df.columns[:-1]]
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS
...,...,...,...,...,...,...,...,...
141,19302,High Res,2150.0,Temir,57.125172,49.142590,Темир,MS
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS

In [16]:
all_hydro_stations = [f.split('_')[1] for f in os.listdir("../data/KazHydroMet/kzhm_streamflow")]
all_hydro_stations

['14257',
 '11170',
 '14426',
 '16033',
 '14092',
 '11117',
 '13095',
 '14581',
 '11412',
 '15213',
 '19301',
 '14452',
 '12032',
 '14401',
 '16035',
 '11077',
 '14277',
 '14248',
 '11108',
 '19013',
 '13198',
 '15314',
 '12701',
 '14368',
 '77818',
 '11068',
 '19303',
 '14250',
 '19196',
 '14198',
 '13005',
 '19247',
 '11189',
 '11253',
 '11063',
 '15266',
 '14415',
 '15309',
 '11164',
 '12002',
 '11455',
 '12029',
 '19208',
 '14349',
 '11040',
 '19808',
 '15342',
 '19012',
 '11092',
 '11402',
 '14022',
 '19240',
 '11404',
 '14078',
 '11160',
 '11137',
 '19022',
 '19021',
 '13064',
 '11041',
 '19254',
 '11139',
 '13099',
 '14911',
 '19130',
 '16319',
 '11219',
 '19302',
 '16415',
 '19801',
 '15396',
 '19229',
 '14295',
 '14324',
 '15233',
 '14334',
 '11002',
 '14421',
 '11094',
 '11255',
 '14014',
 '14276',
 '16358',
 '19195',
 '19300',
 '13184',
 '11090',
 '19010',
 '11129',
 '11066',
 '11199',
 '13048',
 '14011',
 '13077',
 '14676',
 '14262',
 '11157',
 '16039',
 '13100',
 '13151',
 '19243',
 '19034',
 '19074',
 '14254',
 '16328',
 '14559',
 '16044',
 '14566',
 '14397',
 '14580',
 '16437',
 '14386',
 '16499',
 '13038',
 '11131',
 '19218',
 '11147',
 '14369',
 '16676',
 '11166',
 '11424',
 '14249',
 '19252',
 '11398',
 '11126',
 '19249',
 '16340',
 '19463',
 '11411',
 '19292',
 '11663',
 '11067',
 '11001',
 '12075',
 '11187',
 '11027',
 '11414',
 '11661',
 '11207',
 '14414',
 '11441',
 '13046',
 '13035',
 '13090',
 '15220',
 '14004',
 '11010',
 '16307',
 '14560',
 '11272',
 '19289',
 '14159',
 '13115',
 '16052',
 '11405',
 '14476',
 '11453',
 '15324',
 '19072',
 '19009',
 '15223',
 '16047',
 '12007',
 '13116',
 '11666',
 '14242',
 '19205',
 '15125',
 '19255',
 '14260',
 '11672',
 '77895',
 '16557',
 '11667',
 '13004',
 '14072',
 '14136',
 '19237',
 '11291',
 '14335',
 '14489',
 '19257',
 '11124',
 '14200',
 '13125',
 '19033',
 '19267',
 '13029',
 '19234',
 '14688',
 '15134',
 '16363',
 '16374',
 '14501',
 '14110',
 '12562',
 '14329',
 '14160',
 '19220',
 '16497',
 '19198',
 '14255',
 '16620',
 '12009',
 '19293',
 '14116',
 '12533',
 '11293',
 '13201',
 '11456',
 '11037',
 '11413',
 '13128',
 '14239',
 '14451',
 '13098',
 '19246',
 '11408',
 '11233',
 '11168',
 '11156',
 '11025',
 '15208',
 '14252',
 '11188',
 '14382',
 '15256',
 '16037',
 '15263',
 '19201',
 '16404',
 '16375',
 '16042',
 '16395',
 '12031',
 '14187',
 '13083',
 '14390',
 '19802',
 '16317',
 '14446',
 '13076',
 '14561',
 '11469',
 '11410',
 '19075',
 '12072',
 '14218',
 '15235',
 '11409',
 '14033',
 '13148',
 '11397',
 '15265',
 '14002',
 '19071',
 '12008',
 '11647',
 '14419',
 '13002',
 '13091',
 '12001',
 '16401',
 '11421',
 '14253',
 '11395',
 '11645',
 '16031',
 '19073',
 '11407',
 '19180',
 '19806',
 '15264',
 '16353',
 '11399',
 '13066',
 '16350',
 '14542',
 '11403',
 '16053',
 '11019',
 '13061',
 '11163',
 '16327',
 '11276',
 '19211',
 '77819',
 '16414',
 '11454',
 '11468',
 '13105',
 '11423',
 '19295',
 '11143',
 '11646',
 '13142',
 '11668',
 '14332',
 '14016',
 '11275',
 '14413',
 '16326',
 '15368',
 '11078',
 '16390',
 '11242',
 '19462',
 '15347',
 '14017',
 '13190',
 '11461',
 '14118',
 '11433',
 '11250',
 '14343',
 '12564',
 '14506',
 '15245',
 '13221',
 '11644',
 '14270',
 '19083',
 '19239',
 '11664',
 '11146',
 '14223',
 '11432',
 '16474']

In [17]:
df["hydro_exists"] = df["id"].astype(str).isin(all_hydro_stations)
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,hydro_exists
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,True
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,True
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,True
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
...,...,...,...,...,...,...,...,...,...
141,19302,High Res,2150.0,Temir,57.125172,49.142590,Темир,MS,True
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS,True
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS,True
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS,True
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS,True

In [18]:
df = df[df["hydro_exists"] == True]
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,hydro_exists
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,True
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,True
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,True
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,True
...,...,...,...,...,...,...,...,...,...
141,19302,High Res,2150.0,Temir,57.125172,49.142590,Темир,MS,True
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS,True
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS,True
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS,True
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS,True

In [19]:
df = df[df.columns[:-1]]
df

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS
3,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS
10,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS
11,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS
...,...,...,...,...,...,...,...,...
141,19302,High Res,2150.0,Temir,57.125172,49.142590,Темир,MS
143,19462,High Res,14200.0,Novoalexeevka,55.666354,50.148140,Новоалексеевка,MS
144,19462,High Res,14200.0,Ilinski,56.356100,49.979000,Ильинский,MS
145,19463,High Res,17700.0,Uil,54.663050,49.073340,Уил,MS
147,77819,High Res,2330.0,Ganushkino,49.266701,46.604952,Ганюшкино,MS

In [20]:
len(df)

68

In [21]:
df_hydro = pd.read_csv("../data/selected_hydro_stations.csv", sep=",")
df_hydro.head()

      id        lat        lng                              name
0  11001  48.004531  85.222161                           с.Боран
1  11063  48.434364  85.838581  Теректы  с. Мойылды (Николаевка)
2  11068  48.133153  85.196547                          с.Калжыр
3  11077  47.283392  84.106714                        с.Сарыолен
4  11090  49.936861  73.271933                        с.Кокпекты

In [22]:
cols_to_use = df_hydro.columns.difference(df.columns)
df = pd.merge(df, df_hydro[["id", *cols_to_use]], on="id")
df.head()

,id,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,name
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,с.Боран
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,с.Боран
2,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,с.Калжыр
3,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Печи (с.Барлык)
4,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Лесная пристань

In [23]:
df = df.rename(columns={"name": "hydro_station_ru", "id": "basin"})
df.head()

,basin,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,hydro_station_ru
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,с.Боран
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,с.Боран
2,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,с.Калжыр
3,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Печи (с.Барлык)
4,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Лесная пристань

In [24]:
df["hydro_station_ru"] = df["hydro_station_ru"].apply(lambda col: col.strip())

In [25]:
df.head()

,basin,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,hydro_station_ru
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,с.Боран
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,с.Боран
2,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,с.Калжыр
3,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Печи (с.Барлык)
4,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Лесная пристань

In [30]:
def find_meteo_region(row: str) -> str:

    meteo_dir = "../data/KazHydroMet/meteo"
    for region in os.listdir(meteo_dir):
        for station in os.listdir(os.path.join(meteo_dir, region)):
            if row.lower() in station.lower():
                return region
    
    return None


def find_hydro_basin(row: str) -> str:

    meteo_dir = "../data/KazHydroMet/hydro"
    for region in os.listdir(meteo_dir):
        for station in os.listdir(os.path.join(meteo_dir, region)):
            if str(row) in station.lower():
                return region
    
    return None

In [31]:
df['meteo_region'] = df["meteo_station"].apply(find_meteo_region)
df['hydro_region'] = df["basin"].apply(find_hydro_basin)
df.head()

,basin,result,area_calc,meteo_station,lng,lat,meteo_station_ru,type,hydro_station_ru,meteo_region,hydro_region
0,11001,Low Res,58700.0,Boran,85.222289,48.005086,Боран,MS,с.Боран,KZ-VOS,ERTIS
1,11001,Low Res,58700.0,Terekty,85.742650,48.415908,Теректи,MS,с.Боран,KZ-VOS,ERTIS
2,11068,High Res,2960.0,Markakol,86.025319,48.791094,Маркакол,MS,с.Калжыр,KZ-VOS,ERTIS
3,11126,High Res,6870.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Печи (с.Барлык),KZ-VOS,ERTIS
4,11129,High Res,11000.0,Katon-Karagay,85.619394,49.176397,Катон-Карагай,MS,с. Лесная пристань,KZ-VOS,ERTIS

In [32]:
len(df)

68

In [33]:
df.to_csv("../data/selected_basins.csv", sep=",", header=1, index=False)